
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Candy Crush</title>
        <link rel="stylesheet" href="static/candy.css">
        <script src="static/candy.js"></script>
    </head>

    <body>
        <h1>Score: <span id="score">0</span></h1>
        <h1>Moves: <span id="moves">0</span></h1>
        <button onclick="regenerateGrid()">Shuffle</button>
        <div id="board"></div>
    </body>
</html>