
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Match-3</title>
        <link rel="stylesheet" href="static/candy.css">
        <script src="static/candy.js"></script>
    </head>

    <body>
        <div id="levelElements" style="display: none;">
            <h1>Level: <span id="level">1</span></h1>
            <h1>Target Score: <span id="target">0</span></h1>
            <h1>Score: <span id="score">0</span></h1>
            <h1>Moves Remaining: <span id="moves">0</span></h1>
            <div id="board"></div>
            <button id="shuffle" onclick="shuffle()"></button>
        </div>
        <div id="startScreen">
            <button id="startBtn" onclick="startLevel()">Start</button>
            <button id="lazyBot" onclick="runStupidBot()">Stupid Bot</button>
            <button id="cleverBot" onclick="runCleverBot()">Clever Bot</button>
            <button id="random" onclick="switchToRandom()">Switch to Random Mode</button>
            <button id="adaptive" style="display: none;" onclick="switchToAdaptive()">Switch to Adaptive Mode</button>
        </div>
        <button id="nextLvlBtn" style="display: none;" onclick="nextLevel()">Next Level</button>
        <div id="gameOver" style="display: none;">
            <h1>Game Over<h1>
            <button id="playAgainBtn" onclick="playAgain()">Play Again</button>
        </div>
    </body>
</html>