
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Candy Crush</title>
        <link rel="stylesheet" href="static/candy.css">
        <script src="static/candy.js"></script>
    </head>

    <body>
        <h1>Level: <span id="level">1</span></h1>
        <h1>Target Score: <span id="target">0</span></h1>
        <h1>Score: <span id="score">0</span></h1>
        <h1>Moves Remaining: <span id="moves">0</span></h1>
        <div id="board"></div>
        <button id="shuffle" onclick="shuffle()"></button>
        <button id="nextLvlBtn" style="display: none;" onclick="nextLevel()">Next Level</button>
        <button id="playAgainBtn" style="display: none;" onclick="playAgain()">Play Again</button>
    </body>
</html>